[Desktop Entry]
Name=io.github.mki1967.mki3dgame
Type=Application
Icon=io.github.mki1967.mki3dgame
Terminal=true
Exec=io.github.mki1967.mki3dgame
Categories=Game;
